@model News.ViewModel.Catalog.Image.AddImageRequest

@{
    ViewData["Title"] = "AddImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddImages</h1>

<h4>AddImageRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddImages" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ProductId" type="hidden" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

